.container{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 15px;
    height: auto;
    width: 86%;
    background-color: rgb(26, 26, 22);
    padding: 2% 2% 2% 2%;
}

.activity{
    height: 60px;
    width: 100%;
    background-color: gold;
    margin-bottom: 15px;
}

span{
    margin-top: 20px;
    font-size: 20px;
    float: left;
    margin-left: 3%;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.sortButton{
  margin-left: 15px;
  width: 15%;
  height: 25px;
  background-color: red;
  border: none;
  border-radius: 10px;
  float: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.sortButton:active{
  background-color: blueviolet;
}

*:focus{
  outline: none;
}

.deleteButton{
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

mat-expansion-panel p{
    float: left;
}

.right{
    float: right;

}

mat-expansion-panel{
    margin-bottom: 15px;
    background-color: gold;
    margin-top: 15px;
}

mat-expansion-panel p{
    width: 50%;
    font-size: 16px;
    display: block;
    float: left;
}

.filterButton{
  background-color: dimgray;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.filterInput{
  background-color: dimgray;
  border: none;
}

