div{
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(177, 77, 19);
    border-radius: 10px;
    height: 500px;
}

label{
    font-size: 25px;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30%;
    
}
input{
    height: 30px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(143, 29, 29);
    float: left;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    border: none;
}
h2{
    margin-left: 45%;
    margin-top:5%;
}

button{
    margin-left: 42%;
    float: left;
    margin-top: 15px;
    width: 150px;
    height: 35px;
}