.mediaLists ul{
    list-style-type: none;
    display: block;
    overflow-x: auto;
   margin-bottom: 40px;
   white-space: nowrap;
   padding-left: 0px;

}

.mediaLists li {
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}
.mediaLists li:hover{
    background-color: dimgrey;
    cursor: pointer;
    border-radius: 10px;
}

p {
    float: none;
    margin-top: 25px;
    margin-left: 10px;
}

img {
    width: 150px;
    height: 200px;
    /* float: left; */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
a{
    float: left;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

::-webkit-scrollbar{
    background-color: rgb(64, 64, 65);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(94, 99, 99);
    border-radius: 5px;

}

.all{
    background-color: rgb(23, 36, 54);
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    padding-bottom: 5%;
    margin-top: 20px;
}

.recentComments{
    background-color: rgb(44, 42, 42);
    height: auto;
    width: 40%;
    border:solid;
    border-color: black;
    display: flex;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recentComments p{
  font-size: 100%;
  margin-top: 14px;
  margin-left: 0px;
}

.recentComments{
  flex-direction: column;
  justify-content: flex-start;
}

.recentComments ul{
  list-style-type: none;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.recentComments li{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.recentComments li span{
  font-size: 10px;
  font-style: italic;
}
