
<div>
<span class="buttons">
  <button mat-raised-button (click)="movieButton = true; tvShowButton = false">Film</button>
  <button mat-raised-button  (click)="movieButton = false; tvShowButton = true">Serial</button>
</span>
<form autocomplete="off" (ngSubmit)="addMovie()" method="POST">

  <label for="title">Tytuł:</label>
  <input [(ngModel)]="movie.title" placeholder="title" name="title">
  <br>

  <label for="year">Rok:</label>
  <input type="number" [(ngModel)]="movie.year" placeholder="year" name="year">
  <br>

  <label for="image">Zdjęcie:</label>
  <input [(ngModel)]="movie.image" placeholder="image" name="image">
  <br>

  <label for="description">Opis:</label>
  <textarea [(ngModel)]="movie.description" placeholder="description" name="description"></textarea>
  <br>

  <button mat-raised-button class="submitButton" type="submit">Dodaj</button>

</form>
<form autocomplete="off" (ngSubmit)="addShow()" method="POST">

    <label for="title">Tytuł:</label>
    <input [(ngModel)]="tvshow.title" placeholder="title" name="title">
    <br>

    <label for="year">Rok:</label>
    <input type="number" [(ngModel)]="tvshow.year" placeholder="year" name="year">
    <br>

    <label for="episodes">Odcinki:</label>
    <input type="number" [(ngModel)]="tvshow.episodes" placeholder="episodes" name="episodes">
    <br>

    <label for="image">Zdjęcie:</label>
    <input [(ngModel)]="tvshow.image" placeholder="image" name="image">
    <br>

    <label for="description">Opis:</label>
    <textarea [(ngModel)]="tvshow.description" placeholder="description" name="description"></textarea>
    <br>

    <button mat-raised-button class="submitButton" type="submit">Dodaj</button>

  </form>

</div>
