<div>
  <form *ngIf="register==false">
  <h2>Zaloguj</h2>
  <label for="username">Nazwa użytkownika</label>
  <br>
  <input placeholder="username" name="username" [(ngModel)]="form.username">
  <label for ="password">Hasło</label>
  <br>
  <input type="password" placeholder="password" name="password" [(ngModel)]="form.password">
  <button mat-flat-button (click)="attemptAuth()" class="submitBtn">Zaloguj</button>
  <a (click)="register=true" class="submintBtn">Zarejestruj</a>
  </form>
  <form *ngIf="register==true">
      <h2>Zarejestruj</h2>
      <label for="username">Nazwa użytkownika</label>
      <br>
      <input placeholder="username" name="username" [(ngModel)]="form.username">
      <label for ="password">Hasło</label>
      <br>
      <input type="password" placeholder="password" name="password" [(ngModel)]="form.password">
      <label for ="secondPassword">Powtórz hasło</label>
      <br>
      <input type="password" placeholder="repeat password" name="secondPassword" [(ngModel)]="secondPassword">
      <button mat-flat-button (click)="registerNewUser()" class="submitBtn">Zarejestruj</button>
      <a (click)="register=false">Wróć do logowania</a>
      </form>
</div>
