
<div class="all" *ngIf="movie">
  <div class="image">
    <img src={{movie.image}}>
  </div>
  <div class="info">

    <form>
    <div><p>Tytuł: <span *ngIf="!editMode " > {{movie.title}} </span>
      <span *ngIf="editMode"><input [(ngModel)]="movie.title" value={{movie.title}} name="title" ></span></p>
      <div *ngIf="isUserLogged  && role=='ROLE_ADMIN'">
      <button (click)=delete() *ngIf="role=='ROLE_ADMIN'">Usuń</button>
      <button (click)="editMode = true" *ngIf="!editMode && role=='ROLE_ADMIN'">Edytuj</button>
      <button (click)="editMode = false" *ngIf="editMode && role=='ROLE_ADMIN'">Wróć</button>
      <button type="submit" (click)="editMode = false; update()" *ngIf="editMode"> Zapisz</button>
      <br>
      <span *ngIf="editMode"><p>Zdjęcie: <input [(ngModel)]="movie.image"  value={{movie.image}} name=image > </p></span>
        </div>
    </div>
    <div><p>Rok: <span *ngIf="!editMode">{{movie.year}}</span>
      <span *ngIf="editMode"><input [(ngModel)]="movie.year" value={{movie.year}} type="number" name=year></span></p>

  </div>
  <div>
    <p>Opis: </p>
    <span *ngIf="!editMode">{{movie.description}}</span>
    <span *ngIf=editMode> <textarea [(ngModel)]="movie.description" value={{movie.description}} name="description" ></textarea></span>
  </div>
   </form>
   <div *ngIf="isUserLogged" class="showOpinion" >
    <form *ngIf="!editMode">
      <div>
  <p>Dodaj Komentarz</p>
  <textarea [(ngModel)]="myMovie.comment" name=comment></textarea>
</div>
<div>
  <p>Oceń</p>
  <select [(ngModel)]="myMovie.rating" name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    </select>
  <p>Ustal status</p>
  <select [(ngModel)]="myMovie.status" name="status">
    <option value="Obejrzano">Obejrzano</option>
    <option value="Do obejrzenia">Do obejrzenia</option>
    <option value="Porzucono">Porzucono</option>
  </select>
  <button (click)="addMyMovie()">Dodaj</button>
</div>
</form>
</div>
<div *ngIf="!editMode">
<div class="comments" >
    Komentarze: <button  *ngIf="!showComments" (click)="showComments = true">Pokaż</button>
                <button  *ngIf="showComments" (click)="showComments = false">Ukryj</button>
    <div *ngIf="showComments">
    <div *ngIf="comments">
    <div *ngFor="let com of comments" class="singleComment">
      <span>{{com.comment}} </span>
      <p>Dodano przez: {{com.author}} | Ocena: {{com.rating}}/10 | Data: {{com.creationTime}}</p>
    </div>
  </div>
  <div *ngIf="comments.length===0">
    <p>Brak</p>
  </div>
  </div>
</div>
</div>
  </div>
</div>
