<p>
  Twoje filmy:
</p>
<div class="container">
  <mat-accordion *ngFor="let activ of movieActivity">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{activ.movie.title}}
        </mat-panel-title>
        <mat-panel-description>
          Ocena: {{activ.rate}}/10
        </mat-panel-description>
        <mat-panel-description>
         Status: {{activ.status}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Komentarz: {{activ.comment}}</p>

      <p>Czas: {{activ.creationTime}}r.</p>
      <span class="right"><button (click)="deleteMyActivity(activ.id)"><i class="material-icons">clear</i></button></span>
    </mat-expansion-panel>
  </mat-accordion>
</div>

