.container{
  margin-top: 20px;
  background-color: rgb(23, 36, 54);
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mediaFound{
   /* margin-left: 3%;
  margin-right: 3%; */
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 150px;
  background-color: rgb(128, 34, 17);
  cursor: pointer;
  color: white;
  text-decoration-line: none;
  border-radius: 2px;
}

.description{
  margin-left: 20px;
}

.description a{
  font-size: 15px;
}

.description p{
  font-size: 13px;
  margin-left: 0px;
}


img{
  width: 40%;
  /* height: 100%; */
}
